.btn-primary{
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $white;
  &:hover{
    background-color: $white;
    color: $primary-color;
  }
}

.page-link {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}

.page-item {

  &.active .page-link {
    @include gradient-bg($primary-color);
    border-color: $primary-color;
  }

}
