<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Input search term and press enter" (keyup)="searchItem($event)">
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row mt-3">
    <div class="col-12" *ngIf="items && items.length > 0">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col" [appSort]="pageItems" data-order="desc" data-name="title">Title</th>
              <th scope="col" [appSort]="pageItems" data-order="desc" data-name="description">Description</th>
              <th scope="col" [appSort]="pageItems" data-order="desc" data-name="price">Price</th>
              <th scope="col" [appSort]="pageItems" data-order="desc" data-name="email">Email</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pageItems">
              <td>
                <img [src]="item.image" class="img-thumbnail" width="200" [alt]="item.title">
              </td>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>{{item.price}}</td>
              <td>{{item.email}}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="addToFavorite(item)">Add To Favorite</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-pagination [items]="items" [pageSize]="5" [maxPages]="5" (changePage)="onChangePage($event)"></app-pagination>
    </div>

    <div class="col-12" *ngIf="items && items.length == 0">
      <div class="alert alert-success">
        <h4 class="alert-heading">No items found!</h4>
        <p>Please try again with different search term.</p>
      </div>
    </div>
  </div>
</div>
